<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/abaco.png" class="img-header">
        Crud Cta/cte</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['']"><i class="fas fa-home"></i> Home</a>
          <a class="nav-link" [routerLink]="['/titulares']"><i class="fas fa-users"></i> Titulares</a>
          <a class="nav-link" [routerLink]="['/cuentas']"><i class="fas fa-file-invoice-dollar"></i> Cuentas</a>
        </div>
      </div>
    </div>
  </nav>
